<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/style.css">


</head>
<body class="hidden">

<aside class="project-menu">


    <div class="side-section">


        <div class="mb">
            <button class="btn" id="dark-mode">darkmode</button>
        </div>

        <a href="/">
            <- back to frontpage
        </a>


        <h3>
            My Projects
        </h3>

        <ul>
            <li>
                <a href="/projects/coldcanvas">
                    Sales system for cold calling
                </a>
            </li>

            <li>
                <a href="projects/spotify-queue">
                    spotify-queue
                </a>
            </li>


            <li>
                <a href="projects/kulturnaut">
                    kulturnaut mobile app
                </a>
            </li>
        </ul>


    </div>
</aside>


<div class="container">
    $MAIN
</div>

<script src="../js/darkmode.js"></script>

</body>



</html>